p {
  line-height: 1.75;
}

a {
  color: #black;
}

a:hover {
  color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Great Vibes', cursive;

}
 h2, h5, h4 {
   text-shadow: #5ebbf9 1px 0 10px;
 }

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: Arial, sans-serif;
}

.btn {
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
  -webkit-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
}

.carousel-inner {
  height: 500px;
  -webkit-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
}
.carousel-item img {
  max-width: 100%;

}
#mainNav {
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: black;
  border: 0;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: black;
  font-family: 'Great Vibes', cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #5ebbf9;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #5ebbf9;
}

.card-deck .card {
  padding: 20px;
  text-align: justify;
  -webkit-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
}

.card-img-bottom {
  -webkit-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
}

h2.section-heading {
  color: #46494c;
}

#services {
  background-color: #eaeaea;
}

#about {
  background-color: white;
}

li.nav-item {
  padding: 10px;
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 2.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: black;
  background-image: url("../img/header2.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Great Vibes', cursive;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Spectral SC', serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 55px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 45px;
    font-family: 'Great Vibes', cursive;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Spectral SC', serif;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#team {
  background-color: #d2d4d8;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  -webkit-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 24px 4px rgba(0,0,0,0.75);
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/contact3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#contact .section-heading {
  color: #46494c;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
  background-color: #e8e8e8;
  color: #46494c;
  border-color: #ced4da;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #46494c;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #c1c1c1;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer span.email {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #5ebbf9;
}
